.main{
    background-color: #fff !important;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (min-width:600px) {
    .main{
        margin: 0!important;
        margin-left: 240px;
    }
}
.formContainer{
    border: 0;
    margin: 10vw !important;
    display: block !important;
    padding: 0;
 }