.main{
    display: flex;
    text-align: center;
    justify-content: center;
    
    width: 100vw -240px!important;
  

}
.subMain{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-color: #FFFFFF;
    margin:3vh 10vw;
    width:100%;
    padding-bottom: 5vh;
}

.text1{
    width: 30vw;
}

.dob{
    width: 30vw;
    padding: 10px;
    border-radius: 5px;
    border-color:rgba(0, 0, 0, 0.37);
}
.heading{
    text-align: center;
    
}
.radio{
    display: flex;
    flex-direction: row;
    
}